# SPDX-FileCopyrightText: 2025-2026 Jolla Mobile Ltd
# SPDX-License-Identifier: Apache-2.0

[D-BUS Service]
Name=org.sailfish.flashlight.provider
Exec=/usr/bin/droidmedia-flashlight
